<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

<body>
    <div class="container">
       <div class="row">
           <div class="col-12">
               <form method="get">
                  <div class="form-group">
                    <label for="stock">Stock</label>
                    <input name="stock" type="text" class="form-control" id="stock" value="AAPL" placeholder="AAPL">
                  </div>
                  <div class="form-group">
                    <label for="Type of data">Type of data</label>
                    <select class="form-control" name="function" id="function">
                      <option>TIME_SERIES_INTRADAY</option>
                      <option>TIME_SERIES_DAILY</option>
                      <option>TIME_SERIES_WEEKLY</option>
                      <option>TIME_SERIES_MONTHLY</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="interval">Interval</label>
                    <select class="form-control" name="interval" id="interval">
                      <option>1min</option>
                      <option>5min</option>
                      <option>15min</option>
                      <option>30min</option>
                      <option>60min</option>
                    </select>
                  </div>
                   <button type="submit" class="btn btn-primary">Submit</button>
                </form>
           </div>
           <div class="col-4 offset-4">
               <canvas id="myChart"></canvas>
           </div>

       </div>



    </div>

</body>

<script>
    const decimals = 2;
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [{% for item in labels %}
                      "{{item}}",
                  {% endfor %}],
            datasets: [{
                label: "{{ interval }} Stock Price for {{ query }}",
                backgroundColor: 'rgba(255, 99, 132,0.5)',
                borderColor: 'rgb(255, 99, 132)',
                data: [{% for item in values %}
                          {{item}},
                        {% endfor %}],
            }]
        },

        // Configuration options go here
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(value, index, values) {
                            return '$' + value.toFixed(decimals);
                        }
                    }
                }]
            }
        }
    });
</script>
<script>
    $(document).ready(function() {
        // Construct URL object using current browser URL
        var url = new URL(document.location);

        // Get query parameters object
        var params = url.searchParams;

        // Get value of paper
        var fun = params.get("function");
        var interval = params.get("interval");
        // Set it as the dropdown value
        $("#interval").val(interval);
        $("#function").val(fun);
    });
</script>
</html>