<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

    <div class = "searchResults">
    <h3 align='center'>Search Results</h3>
    <table>
        {% for tweet in tweets %}
            <tr>
                <th>  </th>
                <td> {{ tweet }} </td>
            </tr>
        {% endfor %}
    </table>
    <table>
        {% for quote in quotes %}
            <tr>
                <th>  </th>
                <td> {{ quotes }} </td>
            </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>